
<header>
    <div class="container">
        <div class="logo"><img src="images/Logo.svg" alt="bmerketo"></div> 
        <div>
            <nav id="menu" class="menu-links">
                <a asp-action="Index" asp-controller="Home" class="link"> HOME </a>
                @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
                {
                    <a class="link"  asp-action="Index" asp-controller="Admin" > Admin</a>
                    <a class ="link" asp-action="Add" asp-controller="Admin"> Add new products </a>
                    <a class="link" asp-action="RegisterUser" asp-controller="Admin"> Add new user </a>

                }
                <a class="link" asp-controller="Product" asp-action="Index">PRODUCTS</a>
                <a class="link" asp-controller="Contact" asp-action="Index">CONTACT</a>

                @if (signInManager.IsSignedIn(User))
                {
                    <a class="link" asp-action="Index" asp-controller="Account">@User.FindFirst("DisplayName")?.Value</a>
                    <a class="link" asp-action="SignOut" asp-controller="Account"> Sign out</a>

                }
                else
                {
                    <a class="link" asp-action="SignUp" asp-controller="Account"> Sign up</a>
                    <a class="link" asp-action="SignIn" asp-controller="Account"> Sign in</a>

                }
            </nav>
            <div class="toggle">
                <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                    <i id="icon" class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
    </div>
</header>

