@model ProductSectionViewModel
@{
    ViewData["Title"] = "Products";
}

@if (Model != null)
{
    <section class="best-collection">
        <div class="container">
          
            @if (Model.Products != null)
            {
                <div class="collection-grid">
                    @foreach (var item in Model.Products)
                    {
                        <partial name="/Views/Partials/_Product.cshtml" model="item"  />
                    }
                </div>
            }
        </div>
    </section>
}
