@model ProductSectionViewModel
@{
    ViewData["Title"] = "Products";
}

@if (Model != null)
{
    <section class="collection-grid">
        <div>
            @if (!string.IsNullOrEmpty(Model.Title))
            {
                <h1 class="collection-title">@Model.Title</h1>
            }
   
          
            @if (Model.Products != null)
            {
                <div class="grid">
                    @foreach (var item in Model.Products)
                    {
                        <partial name="/Views/Partials/_Product.cshtml" model="item"  />
                    }
                </div>
            }
        </div>
    </section>
}
