@using WebappIdentity_del2.Models.Dtos
@model Product


<a asp-controller="product" asp-action="details" asp-route-id="@Model.ArticleNumber" class="collection-item">
        <img src="~/images/products/@Model.ImageUrl" alt="@Model.ProductName">
    <div class="body">
        <div class="title">@Model.ProductName</div>
        <div class="info">
            <div class="price">$@Model.Price</div>
        </div>
    </div>
</a>

