@model UserSignupViewModel
@{
    ViewData["Title"] = "Sign up for new account";
}

<div class="d-flex justify-content-center">
    <h1 class="display-4"> Sign up now!</h1>
   <partial name="/Views/Partials/_Register.cshtml" />
</div>