@{
    ViewData["Title"] = "Register new user";
}

<div class="d-flex justify-content-center">
    <h1 class="display-4"> Register a new user</h1>
    <partial name="/Views/Partials/_Register.cshtml" />
</div>