@model ContactViewModel
@{
    ViewData["Title"] = "Contact";
}
<h2> Would you like to contact us? </h2>

<partial name="/Views/Partials/_ContactForm.cshtml" />
<h2>Our Contact Information</h2>
<address> 
    Email: contact@@bmerketo.com
    Nacka 12
    412 33 Stockholm

</address>
<partial name="/Views/Partials/_Map.cshtml" />

